@charset "utf-8";
/* CSS Document */
/*------------------------------------------*/
/*	          Custom Styles
/*------------------------------------------*/
.briefing-table, .schedule-briefing {
    width: 100%;
    border-collapse: separate;
    font-weight: normal;
    background-color: #f5f5f5;
    padding: 4px;
}

.briefing-table {
	text-align:center;
}

.briefing-table th, .schedule-briefing th {
	text-align:center;
}

.dispinput {
    outline: none;
    height: 19px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.16s, box-shadow ease-in-out 0.25s;
    -webkit-transition: border-color ease-in-out 0.16s, box-shadow ease-in-out 0.25s;
    -moz-transition: border-color ease-in-out 0.16s, box-shadow ease-in-out 0.25s;
}

.schedule-briefing img {
    opacity: 0.75;
    border: 1px solid #555;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.schedule-briefing img:hover {
    opacity: 1.0;
    box-shadow: 0 0 8px rgba(100, 174, 234, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(100, 174, 234, 0.6);
    -moz-box-shadow: 0 0 8px rgba(100, 174, 234, 0.6);
}

.schedule-briefing textarea {
    text-align: left;
    text-transform: uppercase;
    width: 99%;
    height: 100px;
}

.routeimg {
    height: 35px;
    width: 54px;
    margin-right: 3px;
}

/*************** Heading Titles ***************/

h3.classic-title, h3.classic-title2, h3.classic-title3, h3.classic-title4, h3.classic-title5, h3.classic-title6 {
    font-weight: 600;
	padding: 8px 18px;
	margin-bottom:0;
	border: 1px solid #eee;
	color: #fff;
}

.classic-title2 {
	background:#039be5;
}

.classic-title3 {
	background:#ff9c08;
}

.classic-title4 {
	background:#f44336;
}

.classic-title5 {
	background:#adcc00;
}

.classic-title6 {
	background:#45b0e3;
}

/*************** Call To Action ***************/
.call-action-boxed {
  padding: 20px 30px;
  margin-bottom: 20px;
  background: #FFFFFF;
}

.call-action-boxed-sidebar {
	background:#FFFFFF;
}

.call-action.light-text {
	color:#FFFFFF;
}

.call-action.light-text p {
	color:#FFFFFF;
}

.call-action.no-descripton h2.primary {
	margin-top: 4px;
}

.call-action h2.primary {
	font-weight: 500;
}

.call-action h2.primary strong {
	font-weight: 700;
}

.call-action p {
	font-size: 14px;
	margin-bottom: 15px;
}

.call-action h2 + p {
	margin-top: 4px;
}

.call-action .button-side {
	float: right;
}

.call-action-style1 {
	border: 1px solid #eee;
}

.call-action-style2 {
	background: #f2f2f2;
	box-shadow: 0 0 25px rgba(0,0,0,.24);
	-o-box-shadow: 0 0 25px rgba(0,0,0,.24);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.24);
  	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.24);
}

.call-action-style3 {
	background: #444;
	box-shadow: 0 0 25px rgba(0,0,0,.24);
	-o-box-shadow: 0 0 25px rgba(0,0,0,.24);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.24);
  	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.24);
}

.call-action-style3 h2.primary {
	color: #fff;
}

.call-action-style3 p {
	color: #bbb;
}

.call-action-style4 {
	background:#F97678;
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 25px rgba(0,0,0,.24);
	-o-box-shadow: 0 0 25px rgba(0,0,0,.24);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.24);
  	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.24);
}
